<div class="container" *ngIf="show">
    <div class="row">
        <ng-container *ngFor="let question of questions; let i=index">
            <div class="col-xs-12 col-md-10 info" *ngIf="i===activeQuestion">
                <div>
                    <h4 class="text-right">Запитання №{{i+1}}</h4>
                    <div class="question-img">
                        <img *ngIf="question.attachment.length>0" [src]="question.attachment"
                             alt="Картинка для питання">
                    </div>
                    <h3 class="question-text">{{question.question_text}}</h3>
                    <ul class="answers">
                        <li *ngFor="let answer of question.answers">
                            <label (click)="toggleAnswer($event, answer.answer_id, i)">
                                <input type="checkbox" name="answer"
                                       [value]="answer.answer_id"
                                       [checked]="question.chosenAnswer[answer.answer_id]">
                                <img *ngIf="answer.attachment.length>0"
                                     [src]="answer.attachment"
                                     alt="картинка для відповіді">{{answer.answer_text}}
                            </label>
                        </li>
                    </ul>
                    <p class="text-right">
                        <button type="button" class="btn btn-primary" (click)="skipQuestion(activeQuestion+1)">
                            Пропустити
                        </button>
                        <button type="button" class="btn btn-success" (click)="answerQuestion()">
                            Відповісти
                        </button>
                    </p>
                </div>
            </div>
        </ng-container>
        <div class="col-xs-12 col-md-2 info text-center nav-buttons">
            <h3>Навігація</h3>
            <button *ngFor="let button of navButtons; let j=index"
                    type="button"
                    [ngClass]="button.className"
                    (click)="changeActiveQuestion(j)">{{button.name}}
            </button>
        </div>
    </div>
</div>
<template ngbModalContainer></template>