<dt-loader *ngIf="!show"></dt-loader>
<div class="container" *ngIf="show">
    <div class="row">
        <div class="col-xs-6 info">
            Залишилось запитань: {{unAnsweredQuestionCount}} з {{tasksCount}} ({{unAnsweredQuestionPercent+'%'}})
            <div class="progress hidden-xs">
                <div class="progress-bar" [ngStyle]="{'width': unAnsweredQuestionPercent+'%'}">
                </div>
            </div>
        </div>
        <div class="col-xs-6 info">
            Залишилось часу: <b class="time">{{timer.hours}}:{{timer.min}}:{{timer.sec}}</b> ({{leftTimePercent+'%'}})
            <div class="progress hidden-xs">
                <div class="progress-bar progress-bar-warning" [ngStyle]="{'width': leftTimePercent+'%'}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="show">
    <div class="row">
        <ng-container *ngFor="let question of questions; let i=index">
            <div class="col-xs-12 col-md-10 info" *ngIf="i===activeQuestion">
                <div>
                    <h4 class="text-right">Запитання №{{i+1}}</h4>
                    <div class="question-img">
                        <img *ngIf="question.attachment" [src]="question.attachment"
                             alt="Картинка для питання">
                    </div>
                    <h3 class="question-text">{{question.question_text}}</h3>
                    <ul class="answers">
                        <li *ngFor="let answer of question.answers">
                            <label>
                                <input [type]="question.type" name="answer"
                                       [value]="answer.answer_id"
                                       (click)="toggleAnswer(answer.answer_id, i)"
                                       [checked]="question.chosenAnswer[answer.answer_id]">
                                <img *ngIf="answer.attachment"
                                     [src]="answer.attachment"
                                     alt="картинка для відповіді">{{answer.answer_text}}
                            </label>
                        </li>
                    </ul>
                    <p class="text-left">
                        <button type="button" class="btn btn-primary" (click)="skipQuestion()"
                                [disabled]="disableSkip">
                            Пропустити
                        </button>
                        <button type="button" class="btn btn-success" (click)="answerQuestion()">
                            Відповісти
                        </button>
                    </p>
                    <p class="text-right">
                        <button type="button" class="btn btn-danger" (click)="finishTest()">
                            Завершити тест
                        </button>
                    </p>
                </div>
            </div>
        </ng-container>
        <div class="col-xs-12 col-md-2 info text-center nav-buttons">
            <h3>Навігація</h3>
            <button *ngFor="let button of navButtons; let j=index"
                    type="button"
                    [ngClass]="button.className"
                    (click)="changeActiveQuestion(j)">{{button.label}}
            </button>
        </div>
    </div>
</div>
<template ngbModalContainer></template>