@import "variables";

@mixin base-hint {
  position: absolute;
  z-index: 3;
  padding: 5px;
  color: $hint-text-color;
  border: $hint-border;
  border-radius: 3px;
  background: $hint-bg-color;
}

@mixin transition($transition-options) {
  -moz-transition: $transition-options;
  -o-transition: $transition-options;
  -webkit-transition: $transition-options;
  transition: $transition-options;
}

@mixin placeholder($color) {
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}