@import "constant";

html, body {
  height: 100%;
}

.entity-container {
  max-width: 1024px;
  margin: 0px auto 0px auto;
  padding: 0px 10px 0 10px;
  min-width: 412px;
}

.entity-list {
  li {
    &:first-child {
      font-weight: bold;
    }
    &:nth-child(2n) {
      background-color: $very-light-grey;
    }
    &:not(:first-child):hover {
      background-color: $light-grey;
    }
    a {
      margin: 2px;
    }
  }
}

.entity-bar {
  .container-fluid {
    form.navbar-left {
      select {
        width: 200px;
        margin: 0 15px;
      }
    }
  }
}