// Colors
$main-bg-color: #777;
$hint-bg-color: #ffeff2;
$hint-text-color: #777;
$background-color-n: #fff;
$background-color-2n: #f8f8f8;
$background-color-hover: #e7e7e7;

// Other
$hint-border: 1px solid #e77e7e;
$warning-border: 1px solid indianred;


