// Colors
$main-bg-color: #777;
$hint-bg-color: #ffeff2;
$btn-bg-color: #ccc;
$btn-bg-hover-color: #555;
$btn-bg-click-color: #f50;
$main-text-color: #000;
$btn-text-color: #000;
$btn-hover-text-color: #fff;
$hint-text-color: #777;

// Dimensions
$btn-width: 100px;
$btn-height: 35px;

// Other
$standard-border: 1px solid black;
$hint-border: 1px solid #e77e7e;
$warning-border: 1px solid indianred;
$standard-font: Helvetica, Arial, sans-serif;