<div class="admin-container">
    <div class="navbar navbar-default adminNavbarDefault">
        <div class="container-fluid">

            <div class="navbar-text navbarText">{{title}}</div>

            <form class="navbar-form navbar-left facultyNavbarFormLeft navbarForm">
                <div class="form-group inputSearch">
                    <input type="text" class="form-control" placeholder="пошук">
                </div>
            </form>

            <form class="navbar-form navbar-right navbarForm">
                <div class="form-group">

                    <add-edit-admin-user
                        [action]="create"
                        (refreshData) = "getRecords()">
                    </add-edit-admin-user>

                </div>
            </form>
        </div>
    </div>

    <div class="container-fluid">
        <ul class="list-group admin_list">
            <li class="list-group-item row">
                <div class="col-xs-12 col-sm-1 col-md-1 colxs12_number">№</div>
                <div class="col-xs-12 col-sm-4 col-md-4 colxs12">Ім'я</div>
                <div class="col-xs-12 col-sm-4 col-md-4 colxs12">Поштова скринька</div>
                <div class="col-xs-12 col-sm-3 col-md-3 colxs12_btn">
                </div>
            </li>

            <li *ngFor="let adminUser of adminUsers; let i = index" class="list-group-item row">
                <div class="col-xs-12 col-sm-1 col-md-1 colxs12_number">
                    {{i+1}}
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 colxs12">
                    {{adminUser.username}}
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 colxs12">
                    {{adminUser.email}}
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 colxs12_btn">
                    <a class="btn btn-default btn-sm" href="#" role="button" title="Редагувати">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>

                    <add-edit-admin-user
                            [adminUser]="adminUser"
                            [username]="adminUser.username"
                            [email]="adminUser.email"
                            [password]="adminUser.password"
                            [action]="edit"
                            (refreshData) = "getRecords()">
                    </add-edit-admin-user>

                    <a class="btn btn-default btn-sm faculty_btnsm" role="button"
                       title="Видалити" (click)="deleteAdminUser(entity, adminUser.id)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>

                </div>
            </li>
        </ul>
    </div>
</div>
<template ngbModalContainer></template>