body {
    border: 2px solid #e7e7e7;
    max-width: 1044px;
    padding: 10px;
    margin: 10px auto;
}

.main-menu {
    max-width: 1024px;
    margin: 0px auto ;
    padding: 10px;
    min-width: 420px;
    font-size: 12px;
}

.main-menu .mainMenuNavbar {
    margin-bottom: 0;
    min-width: 420px;
}

.admin-container {
    max-width: 1024px;
    margin: 0 auto ;
    padding: 10px 10px 0 10px;
    min-width: 412px;
}

.adminNavbarDefault {
    margin-bottom: 10px;
}

.adminNavbarFormLeft {
    font-size: 12px;
}


.projectBreadcrumb {
    max-width: 1024px;
    height: 55px;
    margin: 0px auto ;
    padding: 10px;
    min-width: 420px;
    font-size: 12px;
}
.projectBreadcrumb .breadcrumb {
    border: 1px solid #e7e7e7;
}

.navbarDefault {
    margin-bottom: 10px;
}

.modalBody {
    background-color: #f9f9f9;
}

.inputGroup {
    margin: 10px auto;
}

.modalSpan {
    min-width: 150px;
}

.colxs12_btn{
    text-align: center;
}

.admin_list li:nth-child(2n) {
    background-color: #f9f9f9;
}
.admin_list li:first-child {
    font-weight: bold;
}