<ngb-tabset>
    <ngb-tab title="Доступні" [disabled]="false">
        <template ngbTabContent>
		  <div class="row"><div class="col-xs-12">
            <test-list
                    [groupId] = "groupId"
					[userId] = "userId">
            </test-list>
			</div></div>
        </template>
    </ngb-tab>

    <ngb-tab title="Заплановані" [disabled]="false">
        <template ngbTabContent>
		 <div class="row"><div class="col-xs-12">
            <h3>Cписок тестувань які плануються для групи "{{groupName}}"</h3>
           
                <test-list-shedule
                    [groupId] = "groupId">
                </test-list-shedule>
			</div></div>
        </template>
    </ngb-tab>
    <ngb-tab title="Пройдені" [disabled]="false">
        <template ngbTabContent>
		<div class="row"><div class="col-xs-12">
            <test-results
					[userId] = "userId">
			</test-results>
		</div></div>
        </template>
    </ngb-tab>
</ngb-tabset>