<template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="input-group inputGroup">
            <span class="input-group-addon modalSpan" id="basic-addon3">Назва групи</span>
            <input
                    [(ngModel)]="groupName"
                    type="text"
                    class="form-control modalInput"
                    id="basic-url"
                    aria-describedby="basic-addon3"
                    required
                    name="name"
                    pattern="[А-ЯA-Z]{1}([А-ЯA-Zа-яa-z]|\s){1,32}"
                    placeholder="введіть назву групи">
        </div>
        <div class="input-group inputGroup" *ngIf = "action == 'create'">
            <span class="input-group-addon modalSpan" id="basic-addon3">Факультет</span>
            <select
                    class="form-control select"
                    (change)="getIdFacultyByName($event)"
                    id="basic-url"
                    aria-describedby="basic-addon3"
                    name="faculty">
                <option selected>Виберіть факультет</option>
                <option *ngFor = "let faculty of faculties">{{faculty.faculty_name}}</option>
            </select>
        </div>
        <div class="input-group inputGroup" *ngIf = "action == 'create'">
            <span class="input-group-addon modalSpan" id="basic-addon3">Спеціальність</span>
            <select
                    class="form-control select"
                    (change)="getIdSpecialityByName($event)"
                    id="basic-url"
                    aria-describedby="basic-addon3"
                    name="speciality">
                <option selected>Виберіть спеціальність</option>
                <option *ngFor = "let speciality of specialities" >{{speciality.speciality_name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default" (click)="c('Close click'); close()">Відмінити</button>
        <button type="submit" class="btn btn-default" (click)="activate(); c('Close click'); close()">Застосувати
        </button>
    </div>
</template>
<div class="openModalBtn" [ngSwitch]="action">
    <button *ngSwitchCase="'create'" class="btn btn-default" type="submit" data-toggle="modal" role="button"
            (click)="open(content)"
            title="Створити нову групу">Додати
    </button>
    <button *ngSwitchCase="'edit'" type="submit" class="btn btn-default btn-sm faculty_btnsm"
            (click)="open(content)" title="Редагувати дані групи">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </button>
</div>