*{
    box-sizing: border-box;
}

.group-container {
    max-width: 1024px;
    margin: 0px auto;
    padding: 0px 10px;
    min-width: 412px;
}
li.row div.col-xs-3 {
    line-height: 30px;
}

.modal_button{
    text-align: center;
}

.header_nav{
    padding-left: 10px;
}

.navbar-right-c{
   margin-right:25px;
}

.add{
    width: auto;
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
}

.back{
    margin: 10px;
    float: right;
    width: auto;
}
.table_header{
    font-weight: bold;
}

.table_header_sm{
    display: none;
}

@media screen and (max-width: 767px){
    button{
        width:25%;
    }
    .inputSearch {
        width:60%;
        display: inline-block;

    }

    .button_xs{
        border-top: 1px solid #ddd;
        padding-top: 5px;
    }
    .add {
        width: 46px;
        display: inline-block;
        margin-top: 5px;


    }


}

@media screen and (max-width: 500px){
    .table_header_sm{
        display: inline-block;
        width: 150px;
        background-color: #f9f9f9;
        float: left;
        font-weight: bold;
        text-align: left;
    }
    .table_header{
        display: none;
    }
    .col-esm{
        width: 100%;
        text-align: left;
    }


}

.glyph{
    float: right;
}
.table-vert-center{
    vertical-align: middle;
}
.main-menu {
    max-width: 1024px;
    margin: 0px auto 10px auto;
    padding: 10px;
    min-width: 420px;
    font-size: 12px;
}

.main-menu .mainMenuNavbar {
    margin-bottom: 0;
    min-width: 420px;
}