<div class="group-container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row header_nav"><h4>Групи</h4></div>
            <div class="row menu_p_bottom">
                <div class=" col-sm-4 col-md-2">
                    <input (input)="searchForData($event)" type="text" class="form-control" placeholder="пошук">
                </div>
                <div class=" col-xs-12 col-sm-4 col-md-4">
                    <select class="form-control select" (change)="getNameOfFaculty($event)">
                        <option selected>Виберіть факультет</option>
                        <option *ngFor = "let faculty of facultys">{{faculty.faculty_name}}</option>
                    </select>
                </div>
                <div class="col-xs-12 col-xs-12 col-sm-4 col-md-4">
                    <select class="form-control select" (change)="getNameOfSpeciality($event)">
                        <option selected>Виберіть спеціальність</option>
                        <option *ngFor = "let speciality of specialitys" >{{speciality.speciality_name}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 settings">
                    <addedit-group
                            [action] = "create"
                            [facultyId]="facultysId"
                            [specialityId]="specialitysId"
                            (refreshData) = "refreshData($event)"
                            [title]="titleForNew">
                    </addedit-group>
                    <select class=" form-control " name="count"
                            title="виберіть кількість груп на сторінці"
                            (change)="changeLimit($event)" [disabled]="!!searchCriteria">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option [value]="countOfGroup">Всі</option>
                    </select>

                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <ul class="list-group faculty_list">
            <li class="list-group-item row table_header">
                <div class="col-xs-2 col-sm-1 col-md-1 ">№</div>
                <div class="col-xs-3 col-sm-2 col-md-2 ">Назва</div>
                <div class="col-xs-3 col-sm-2 col-md-3 ">Факультет</div>
                <div class="col-xs-4 col-sm-3 col-md-3 ">Спеціальність</div>
                <div class="col-xs-12 col-sm-4 col-md-3 ">
                </div>
            </li>
            <li class="list-group-item row" *ngFor="let group of groups; let i=index;">
                <div class="col-xs-2 col-sm-1 col-md-1 col-esm"><span class="table_header_sm">Номер</span>{{i+1+(page-1)*limit}}
                </div>
                <div class="col-xs-3 col-sm-2 col-md-2 col-esm"><span class="table_header_sm">Назва</span>{{group.group_name}}
                </div>
                <div class="col-xs-3 col-sm-2 col-md-3 col-esm"><span class="table_header_sm">Факультет</span>{{group.faculty_name}}
                </div>
                <div class="col-xs-4 col-sm-3 col-md-3 col-esm"><span class="table_header_sm">Спеціальність</span>{{group.speciality_name}}
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 button_xs ">
                    <div class="glyph">
                        <a class="btn btn-default btn-sm" role="button" title="Результати">
                            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-default btn-sm" role="button"
                           title="Переглянути студентів">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-default btn-sm" role="button" title="Розклад">
                            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        </a>
                        <addedit-group
                                [title]="titleForEdit"
                                [groups] = "group"
                                [groupName]="group.group_name"
                                [groupId]="group.group_id"
                                [facultyName]="facultysName"
                                [specialityName]="specialitysName"
                                [action] = "edit"
                                (refreshData) = "refreshData($event)">
                        </addedit-group>
                        <a (click)="deleteGroup(group)" class="btn btn-danger btn-sm" role="button" title="Видалити" data-toggle="modal"
                           data-target="#removeGroup">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <ngb-pagination
            [hidden]="!!searchCriteria || limit >= countOfGroup"
            [collectionSize]="countOfGroup"
            [pageSize]="limit"
            [(page)]="page"
            [maxSize]="5"
            [rotate]="true"
            [ellipses]="false"
            [boundaryLinks]="true"
            (pageChange)="pageChange($event)">
    </ngb-pagination>
</div>
<template ngbModalContainer></template>