<div class="entity-container">
    <entity-bar
            [entityTitle]="entityTitle"
            [searchTitle]="searchTitle"
            [configAdd]="configAdd"
            [selectLimit]="selectLimit"
            [entityDataLength]="entityDataLength"
            (activate)="modalAdd($event)"
            (searchRun)="findEntity($event)"
            (selectRun)="changeLimit($event)">
    </entity-bar>
    <dt-table *ngIf="entityData.length>0"
              [headers]="headers"
              [tableData]="entityData"
              (activate)="activate($event)">
    </dt-table>
    <ngb-pagination
            *ngIf="entityDataLength"
            [hidden]="!!searchCriteria || limit >= entityDataLength"
            [pageSize]="limit"
            [collectionSize]="entityDataLength"
            [(page)]="currentPage"
            (pageChange)="pageChange($event)"
            [maxSize]="maxSize"
            [ellipses]="true"
            [boundaryLinks]=true>
    </ngb-pagination>
</div>
<template ngbModalContainer></template>