<div class="logincontainer">
    <div class="login-message" *ngIf="loginMessage">Неправильний пароль або логін</div>
    <form class="loginform" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="login">Логін</label>
            <input type="text" class="form-control" id="login" name="login"
                   placeholder="логін" required
                   [(ngModel)]="user.username"
                   (focus)="delWarning()">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password"
                   placeholder="пароль" required name="password"
                   [(ngModel)]="user.password"
                   (focus)="delWarning()">
        </div>
        <button type="submit" class="btn btn-default submit-btn">Увійти</button>
    </form>

</div>
