.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background: url("./assets/background.jpg") center no-repeat;
    background-size: cover;
}

.btn.btn-default.submit-btn {
    position: relative;
    margin-left: 50%;
    left: -35px;
    width: 70px;
}
