<div class="login-container">
    <h1>D-Tester</h1>
    <h3>Система автоматизованого оцінювання знань студентів</h3><br/>
    <form (ngSubmit)="onSubmit()">
            <input type="text" class="input-txt" id="login" name="login"
                   placeholder="Логін" required
                   [(ngModel)]="user.username">
            <input type="password" class="input-txt" id="password"
                   placeholder="Пароль" required name="password"
                   [(ngModel)]="user.password">
        <button type="submit" class="custom-btn">Увійти</button>
    </form>
</div>
<template ngbModalContainer></template>