@media screen and (max-width: 767px) {
  .entity-list {
    .col-xs-12{
      text-align: left;
    }
    .align-xs{
      font-size: 16px;
      display: inline-block;
      float: right;
      width:60%;
    }
    .visible-xs-inline-block {
      width: 40%;
      font-weight: bold;
      font-size: 16px;
      float: left;
    }
    .row {
      div {
        &:last-child {
          text-align: center;
          margin-top: 15px;
          a{
            margin: auto 5px;
            width:40px;
            height: 40px;
            font-size: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}
