<template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{tittle}}</h4>
    </div>
    <div class="modal-body modalBody">
        <div class="input-group inputGroup">
            <span class="input-group-addon modalSpan" id="basic-addon3">Назва предмету</span>
            <input
                    [(ngModel)]="subjectName"
                    type="text"
                    class="form-control modalInput"
                    id="basic-url"
                    aria-describedby="basic-addon3"
                    required
                    pattern="^[А-ЯA-Z]{1}([а-яa-z]|\s){2,32}&"
                    placeholder="введіть назву предмету">
        </div>
        <div class="input-group inputGroup">
            <span class="input-group-addon modalSpan" id="basic-addon3">Опис предмету</span>
            <input
                    [(ngModel)]="subjectDescription"
                    type="text"
                    class="form-control modalInput"
                    id="basic-url"
                    aria-describedby="basic-addon3"
                    required
                    pattern="[А-ЯA-Z]{1}([а-яa-z]|\s){2,32}"
                    placeholder="введіть опис предмету">
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="c('Close click'); close()">Відмінити</button>
        <button type="button" class="btn btn-default" (click)="activate(); c('Close click'); close()">Застосувати</button>
    </div>
</template>

<div class="openModalBtn" [ngSwitch]="action">
    <button *ngSwitchCase = "'create'" class="btn btn-default " type="submit" data-toggle="modal" role="button" (click)="open(content)"
            title="Створити новий предмет">Додати
    </button>
    <button *ngSwitchCase = "'edit'" class="btn btn-default btn-sm faculty_btnsm"
            (click)="open(content)" title="Редагувати дані предмету">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </button>
</div>