<div class="entity-container">
    <entity-bar
        [entityTitle]="entityTitle"
        [searchTitle]="searchTitle"
        [configAdd]="configAdd"
        [selectLimit]="selectLimit"
        [entityDataLength]="entityDataLength"
        (activate)="activate($event)"
        (searchRun)="findEntity($event)"
        (selectRun)="changeLimit($event)">
    </entity-bar>

    <div class="container-fluid">
        <ul class="list-group entity-list">
            <li class="list-group-item row  hidden-xs">
                <div class="col-xs-12 col-md-1">№</div>
                <div class="col-xs-12 col-md-4">Назва факультету</div>
                <div class="col-xs-12 col-md-4">Опис факультету</div>
                <div class="col-xs-12 col-md-3"></div>
            </li>
            <li class="list-group-item row"
                *ngFor="let faculty of entityData; let i=index">
                <div class="col-xs-12 col-md-1">
                    <span class="visible-xs-inline-block">№:</span>
                    <span class="align-xs">{{i+1+(page-1)*limit}}</span>
                </div>
                <div class="col-xs-12 col-md-4">
                    <span class="visible-xs-inline-block">Назва факультету:</span>
                    <span class="align-xs">{{faculty.faculty_name}}</span>
                </div>
                <div class="col-xs-12 col-md-4">
                    <span class="visible-xs-inline-block">Опис факультету:</span>
                    <span class="align-xs">{{faculty.faculty_description}}</span>
                </div>
                <div class="col-xs-12 col-md-3">
                    <a class="btn btn-default btn-sm" [title]="groupsOfFaculty+': '+faculty.faculty_name"
                       [routerLink]="[faculty.faculty_id, 'groups']">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                    </a>
                    <add-edit-modal
                            [name]="faculty.faculty_name"
                            [description]="faculty.faculty_description"
                            [id]="faculty.faculty_id"
                            [config]="configEdit"
                            (activate)="activate($event)"
                    ></add-edit-modal>
                    <a class="btn btn-danger btn-sm" [title]="deleteFaculty+': '+faculty.faculty_name"
                       (click)="delRecord(entity, faculty.faculty_id)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <ngb-pagination *ngIf="entityDataLength"
            [collectionSize]="entityDataLength"
            [(page)]="page"
            [maxSize]="paginationSize"
            [pageSize]="limit"
            [rotate]="true"
            [ellipses]="true"
            [boundaryLinks]="true"
            (pageChange)="pageChange($event)"
            [hidden]="search.length || limit>=entityDataLength">
    </ngb-pagination>
</div>


<template ngbModalContainer></template>