<div class="entity-container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-text">{{pageTitle}}</div>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <a class="btn btn-default" (click)="createCase()" [title]="addTitle">Додати </a>
                </div>
                <button type="button" class="btn btn-secondary"
                        (click)="goBack()">Назад
                </button>
            </form>
        </div>
    </nav>
    <dt-table
              [limit]="limit"
              [page]="page"
              [headers]="headers"
              [actions]="actions"
              [tableData]="entityData"
              (activate)="activate($event)">
    </dt-table>
</div>
<template ngbModalContainer></template>