.print-show {
    display: none;
}

@media print {
    .print-show {
        display: inherit;
    }

    .print h5 {
        text-align: center;
    }

    .print span.right {
        float: right;
    }

    .custom-table {
        display: table;
    }

    .table-row {
        display: table-row;
    }

    .table-cell {
        display: table-cell;
        padding: 0 1cm 0.3cm 0;
    }

    div.print ul li {
        padding: 0;
        border: 1px solid;
        border-radius: 0;
    }

    div.print ul li div {
        box-sizing: border-box;
        border-right: 1px solid;
    }

    div.print ul li div:nth-child(even){
        width: 50%;
    }

    div.print ul li div:nth-child(3){
        width: 15%;
        text-align: center;
    }

    div.print ul li div:nth-child(1){
        width: 10%;
        text-align: center;
    }
}