<div class="main-menu">
    <nav class="navbar navbar-default main-menu-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a
                            routerLink="statistic"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Статистика</a></li>
                    <li><a
                            routerLink="group"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Групи</a></li>
                    <li><a
                            routerLink="faculty"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Факультети</a></li>
                    <li><a routerLink="subject"
                           routerLinkActive="active"
                           [routerLinkActiveOptions]="{exact: true}">Предмети</a></li>
                    <li><a
                            routerLink="speciality"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Спеціальності</a></li>
                    <li><a
                            routerLink="student"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Студенти</a></li>
                    <li><a
                            routerLink="adminUser"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Адміністратори</a></li>
                </ul>
                <div class="nav navbar-nav navbar-right">
                    <a class="btn btn-default btn-sm navbar-btn" role="button" (click)="logout()">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </a>
                </div>

            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>