@import "../../assets/style/constant";

.main-menu {
  max-width: 1024px;
  margin: 0px auto 10px auto;
  padding: 10px;
  min-width: 420px;
  font-size: 12px;
  nav.main-menu-navbar {
    margin-bottom: 0;
    min-width: 420px;
    background-color: $main-menu-bkg-color;
    .navbar-nav {
      .active {
        background-color: $main-menu-bkg-color-active;
      }
    }
  }
  .navbar-right {
    a {
      margin-left: 15px;
    }
  }
}
