.main-menu {
  max-width: 1024px;
  margin: 0px auto 10px auto;
  padding: 10px;
  font-size: 12px;
  nav.main-menu-navbar {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px){
  .main-menu {
    .navbar-right {
      a {
        margin-left: 15px;
      }
    }
  }
}