@import "../../assets/style/constant";

.main-menu {
  max-width: 1024px;
  margin: 0px auto 10px auto;
  padding: 10px;
  //min-width: 320px;
  font-size: 12px;
  nav.main-menu-navbar {
    margin-bottom: 0;
    //min-width: 320px;
    .navbar-header{
      //min-width: 290px;
    }
    //background-color: $main-menu-bkg-color;
    //.navbar-nav {
    //  .active {
    //    background-color: $main-menu-bkg-color-active;
    //  }
    //}
  }
}
@media screen and (max-width: 767px){
  .main-menu {
    .navbar-right {
      a {
        margin-left: 15px;
      }
    }
  }
}