<template #createWindow let-c="close" let-d="dismiss">

    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{data.title}}</h4>
    </div>

    <div class="modal-body modal-body-add-edit">
        <div class="input-group input-group-add-edit" *ngFor="let item of data.list">
            <span class="input-group-addon modal-span">{{item.name}}:</span>
            <input type="text" class="form-control modalInput"
                   [(ngModel)]="item.value">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                (click)="run();c()">{{data.labelBtn}}
        </button>
        <button type="button" class="btn btn-secondary" (click)="c()">Відмінити</button>
    </div>
</template>

<div class="open-modal-btn">
    <a *ngIf="data.action==='create'" class="btn btn-default" role="button" [title]="data.title"
       (click)="open(createWindow)">{{data.labelBtn}}
    </a>
    <a *ngIf="data.action==='edit'" class="btn btn-default btn-sm" role="button"
       [title]="data.title +': '+name"
       (click)="open(createWindow)">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </a>
</div>

