<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{config.title}}</h4>
</div>
<div class="modal-body modal-body-add-edit">
    <div class="input-group input-group-add-edit" *ngFor="let item of config.list">
        <span class="input-group-addon modal-span">{{item.name}}:</span>
        <input [type]="item.type" class="form-control modalInput" [placeholder]="item.placeholder||''"
               [(ngModel)]="item.value">
    </div>
    <div *ngIf="config.select">
        <div class="input-group input-group-add-edit" *ngFor="let item of config.select">
            <span class="input-group-addon modal-span">{{item.selectName}}:</span>
            <select class="form-control" name="count"
                    [(ngModel)]="item.selected">
                <option *ngFor="let option of item.selectItem">{{option}}</option>
            </select>
        </div>
    </div>
    <div *ngIf="config.img">
        <div class="input-group input-group-add-edit" *ngFor="let item of config.img">
            <span class="input-group-addon modal-span">{{item.imgName}}:</span>
            <input [type]="item.type" class="form-control modalInput"
                   id="img" accept='image/*' (input)="openFile($event)">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            (click)="activeModal.close(config)">{{config.labelBtn}}
    </button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Відмінити</button>
</div>

