@import "../../../../assets/style/variables.scss";
@import "../../../../assets/style/mixins.scss";

* {
    border-radius: 0;
}

.modal-content {
    background-color: transparent;
    font-family: $standard-font;
}

.close-add-edit {
    font-weight: 500;
    color: #fff;
    opacity: 1;
}

.add-edit-header {
    background-color: rgba(0,0,0,0.5);
    color: #f5f5f5;
    .modal-title {
        padding: 0 15px;
    }
}

.add-edit-cancel-btn {
    @include button(#122b40);
}

.add-edit-accept-btn {
    @include button(#407678);
}

.modal-body-add-edit,
.modal-footer-add-edit {
    background-color: #f9f9f9;
}

.input-group-add-edit {
    margin: 10px auto;
}

.modal-span {
    min-width: 161px;
}

.modalInput {
    position: relative;
}

.open-modal-btn {
    display: inline-block;
}

.remove-image span:hover {
    color: red;
}

.input-group {
    width: 100%;
}

// DatePicker styles
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    width: 2rem;
    &:hover{
        background-color: #e6e6e6;
    }
}

.weekend {
    background-color: #f0ad4e;
    border-radius: 1rem;
    color: white;
}

.hidden {
    display: none;
}
// end of datePicker styles

// Styles for validation
input.ng-invalid.ng-dirty:not(:focus) ,
select.ng-invalid.ng-dirty {
    border: $warning-border;
}

.hint {
    @include base-hint;
    bottom: 40px;
    left: 130px;
    &::after{content: "";
        position: absolute;
        top: 100%;
        left: 50px;
        margin-left: -5px;
        border-width: 7px;
        border-style: solid;
        border-color: #777 transparent transparent transparent;
    }
}

.passwords-hint {
    @include base-hint;
    top: 40px;
    left: 0;
}
// End of validation styles