.modal-body-add-edit {
    background-color: #f9f9f9;
}

.input-group-add-edit {
    margin: 10px auto;
}

.modal-span {
    min-width: 161px;
}

.modalInput {
    position: relative;
}

.open-modal-btn {
    display: inline-block;
}

.remove-image span:hover {
    color: red;
}

.input-group {
    width: 100%;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    width: 2rem;
}

.custom-day:hover {
    background-color: #e6e6e6;
}

.weekend {
    background-color: #f0ad4e;
    border-radius: 1rem;
    color: white;
}

.hidden {
    display: none;
}

input.ng-invalid.ng-dirty:not(:focus) ,
select.ng-invalid.ng-dirty {
    border: 1px solid indianred;
}

.hint {
    position: absolute;
    bottom: 40px;
    left: 130px;
    min-width: 131px;
    z-index: 10;
    padding: 5px;
    color: #777;;
    border: 1px solid #e77e7e;
    border-radius: 3px;
    background: #ffeff2;
}

.hint::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50px;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: #777 transparent transparent transparent;
}

.passwords-hint {
    position: absolute;
    top: 40px;
    left: 130px;
    min-width: 131px;
    z-index: 10;
    padding: 5px;
    color: #777;;
    border: 1px solid #e77e7e;
    border-radius: 3px;
    background: #ffeff2;
}

.passwords-hint::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50px;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #777 transparent;
}