<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{config.title}}</h4>
</div>
<div class="modal-body modal-body-add-edit">
    <div class="input-group input-group-add-edit" *ngFor="let item of config.list">
        <span class="input-group-addon modal-span">{{item.name}}:</span>
        <input [type]="item.type" class="form-control modalInput"
               [(ngModel)]="item.value">
    </div>
    <div class="input-group input-group-add-edit" *ngIf = "config.select.state">
        <span class="input-group-addon modal-span">{{config.select.selectName}}:</span>
        <select class="form-control" name="count"
                [(ngModel)]="config.select.selected">
            <option *ngFor="let item of config.select.selectItem">{{item}}</option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            (click)="activeModal.close(config)">{{config.labelBtn}}
    </button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Відмінити</button>
</div>

