@import "../../assets/style/variables";

$light-grey-border: 1px solid #e7e7e7;
$standard-offset: 10px 0;
$standard-btn-radius: 4px;
$student-field-offset: 10px;
$black: #000000;
$grey50: #f8f8f8;

.student-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: $student-field-offset;
}

.student-profile-title{
    font-size: 150%;
    padding: $student-field-offset;
    border: $light-grey-border;
    border-radius: $standard-btn-radius;
    margin-bottom: 15px;
    background-color: $grey50;
    text-align: center;
}

.student-datas{
    border: $light-grey-border;
    border-radius: $standard-btn-radius;
    margin: 15px 0;
    padding: $standard-offset;
    background-color: $grey50;
    display: inline-block;
}

.student-foto{
    display: inline-block;
    float: left;
}

.student-data1{
    display: inline-block;
    float:	left;
    text-align:right;
    padding: $student-field-offset;
}

.student-data2{
    display: inline-block;
    float:	left;
    text-align:right;
    padding: $student-field-offset;
}

.input-student-data {
    margin: $standard-offset;
}

.button-create-edit {
    margin: auto;
    text-align: center;
    clear: both;
}

.position-left {
    float: right;
    margin-right: $student-field-offset;
}

.select-group {
    clear: both;
    padding: 2px;
    height: 24px;
}

div.student-datas input, .select-group, .data-field{
    width: 50%;
}

div.input-foto input{
    width: 100%;
}

.data-field{
    display: inline-block;
    float: right;
    text-align: left;
    margin: $standard-offset;
    min-height: 22px;
}

.password-eye-input{
    margin: 10px -25px 10px 0;
}

.password-eye{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    position: relative;
    right: 5px;
    color: $black;
    margin: $standard-offset;
}

label {
    display: block;
    float: left;
    clear: right;
    margin: $standard-offset;
}

.hint {
    position: absolute;
    bottom: 40px;
    left: 40%;
    text-align: left;
    min-width: 131px;
    z-index: 10;
    padding: 5px;
    color: $main-bg-color;
    border: $hint-border;
    border-radius: 3px;
    background: #ffeffe;
}

.hint::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: $main-bg-color transparent transparent transparent;
}

.data-field-enter {
    position: relative;
    margin: $standard-offset;
}

.emergy-text {
    color: red;
}

.student-ability{
    padding: $standard-offset;
    border: $light-grey-border;
    border-radius: $standard-btn-radius;
    margin-bottom: 15px;
    background-color: $grey50;
}

.img-responsive, .remove-photo, .button-download-photo, .button-create-edit, .student-datas  {
    width: 100%;
}

.button-download-photo{
     margin: $standard-offset;
 }

.warning-message{
    display: block;
    margin: $student-field-offset;
    text-align: right;
}