<div class="entity-container">
    <entity-bar
            [entityTitle]="entityTitle"
            [searchTitle]="searchTitle"
            [addTitle]="addTitle"
            [selectLimit]="selectLimit"
            [isSelectedBy]="!!groupId"
            [entityDataLength]="entityDataLength"
            (activate)="activate($event)"
            (searchRun)="findEntity($event)"
            (selectRun)="changeLimit($event)">
    </entity-bar>
    <div *ngIf="noRecords" class="text-center">
        За даними критеріями студентів не знайдено
    </div>
    <dt-table *ngIf="!noRecords"
              [page]="page"
              [limit]="limit"
              [headers]="headers"
              [actions]="actions"
              [tableData]="entityData"
              (activate)="activate($event)">
    </dt-table>
    <ngb-pagination *ngIf="entityDataLength"
                    [collectionSize]="entityDataLength"
                    [(page)]="page"
                    [maxSize]="paginationSize"
                    [pageSize]="limit"
                    [rotate]="true"
                    [ellipses]="true"
                    [boundaryLinks]="true"
                    (pageChange)="pageChange($event)"
                    [hidden]="search.length || limit>=entityDataLength">
    </ngb-pagination>
</div>
<template ngbModalContainer></template>