<div class="entity-container">
    <div class="student-profile-title">ПРОФІЛЬ СТУДЕНТА
        <button type="button" class="btn btn-default position-left"
                (click)="goBack()">Назад
        </button>
    </div>
    <div class="student-datas row">
        <div *ngFor="let stud of student" class="">
            <div class="student-foto col-xs-12 col-sm-3 col-md-3">
                <img class="img-responsive img-rounded profile-foto" [src]="stud.photo" alt="Фото студента"
                     id="output" #newFotoSrc />
                <input class="input-student-data" type="file" (change)="changeFile($event)" [disabled]="statusView">
            </div>

            <div class="student-data1 col-xs-12 col-sm-4 col-md-4">
                <div><label for="surname">Прізвище:</label><input id="surname" class="input-student-data"
                                                                  [disabled]="statusView"
                                                                  [(ngModel)]="stud.student_surname"
                                                                  required></div>
                <div><label for="name">Ім'я:</label><input id="name" class="input-student-data"
                                                           [disabled]="statusView"
                                                           [(ngModel)]="stud.student_name"
                                                           required></div>
                <div><label for="fname">По батькові:</label><input id="fname" class="input-student-data"
                                                                   [disabled]="statusView"
                                                                   [(ngModel)]="stud.student_fname"
                                                                   required></div>

                <div><label for="faculty">Факультет:</label><input id="faculty" class="input-student-data"
                                                             [(ngModel)]="curFaculty" [disabled]="statusView"
                                                             required></div>
                <div><label for="group">Група:</label><input id="group" class="input-student-data"
                                                                   [(ngModel)]="stud.group_name" [disabled]="statusView"
                                                                   required></div>

                <!--
                <div><label for="faculty">Факультет:</label>
                    <select id="faculty" class="input-student-data select-group"   [disabled]="statusView"
                            required (change)="getGroupFacultyNameById(curFaculty)" [(ngModel)]="curFaculty">
                       <option *ngFor="let item of facultys" class="input-student-data" [(ngModel)]="item.faculty_id">
                            {{item.faculty_name}}
                        </option>
                    </select>
                </div>


                <div><label for="group2">Група:</label>
                    <select id="group2" class="input-student-data select-group" [(ngModel)]="stud.group_id"
                            [disabled]="statusView" required>
                        <option *ngFor="let item of groups" class="input-student-data" [(ngModel)]="item.group_id">
                            {{item.group_name}}
                        </option>
                    </select>
                </div>-->


            </div>
            <div class="student-data2 col-xs-12 col-sm-5 col-md-5">
                <div><label for="login">Логін:</label><input id="login" class="input-student-data"
                                                             [(ngModel)]="stud.username" [disabled]="statusView"
                                                             required></div>
                <div><label for="password">Пароль:</label><input id="password" class="input-student-data"
                                                                 [type]="passwordStatusText"
                                                                 [(ngModel)]="stud.plain_password"
                                                                 [disabled]="statusView" required></div>
                <div><label for="gradebook_id">№ залікової книжки:</label><input id="gradebook_id"
                                                                                 class="input-student-data"
                                                                                 [(ngModel)]="stud.gradebook_id"
                                                                                 [disabled]="statusView" required></div>
                <div><label for="email" required>Електронна адреса:</label><input id="email" class="input-student-data"
                                                                                  [(ngModel)]="stud.email"
                                                                                  [disabled]="statusView" required>
                </div>
            </div>
        </div>
        <div class="button-create-refresh">
            <button class="button-save-student-profile" type="button" (click)="editSaveStudentProfile()">
                {{editSaveButtonName}}
            </button>
            <button class="button-refresh-datas" type="button" (click)="showPassword()">{{passwordButtonName}}</button>
        </div>
    </div>

    <template ngbModalContainer></template>

<!--

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#tab1" data-toggle="tab">Доступні</a></li>
        <li><a href="#tab2" data-toggle="tab">Заплановані</a></li>
        <li><a href="#tab3" data-toggle="tab">Пройдені</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
            <h3>Cписок доступних тестувань для групи "ЕК-00-02"</h3>
            <ul>
                <li>Предмет: Асемблер Назва тесту: Основи. Дата проведення: 2016-10-24</li>
                <li>Предмет: Асемблер Назва тесту: Елементарний рівень. Дата проведення: 2016-10-24</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="tab2">
            <h3>Список тестувань які плануються для групи "ЕК-00-02"</h3>
            <ul>
                <li>Предмет: Асемблер Назва тесту: Основи. Дата проведення: 2016-10-24</li>
                <li>Предмет: Асемблер Назва тесту: Елементарний рівень. Дата проведення: 2016-10-24</li>
                <li>Предмет: Асемблер Назва тесту: Елементарний рівень. Дата проведення: 2016-10-24</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="tab3">
            <h3 class="bg-warning">Результати тестувань</h3>
            <ul class="list-group">
                <li class="list-group-item row bg-warning hidden-xs">
                    <div class=" col-md-3 text-center">
                        <b>Назва тесту</b>
                    </div>
                    <div class=" col-md-2 text-center">
                        <b>Дата проведення</b>
                    </div>
                    <div class=" col-md-3 text-center">
                        <b>Результат</b>
                    </div>
                    <div class=" col-md-2 text-center">
                        <b>Час початку</b>
                    </div>
                    <div class=" col-md-2 text-center">
                        <b>Час закінчення</b>
                    </div>
                </li>
                <li class="list-group-item row">
                    <div class=" col-md-3 text-center">Basic level</div>
                    <div class=" col-md-2 text-center">2016-10-22</div>
                    <div class=" col-md-3 text-center"><b>12 із 22 балів</b></div>
                    <div class=" col-md-2 text-center">20:34:54</div>
                    <div class=" col-md-2 text-center">20:35:34</div>
                </li>
                <li class="list-group-item row">
                    <div class=" col-md-3 text-center">Elementary level</div>
                    <div class=" col-md-2 text-center">2016-11-22</div>
                    <div class=" col-md-3 text-center"><b>8 із 22 балів</b></div>
                    <div class=" col-md-2 text-center">20:34:54</div>
                    <div class=" col-md-2 text-center">20:35:34</div>
                </li>
            </ul>
        </div>
    </div> -->
</div>



<template ngbModalContainer></template>