<div class="entity-container">
    <entity-bar
            [entityTitle]="entityTitle"
            [searchTitle]="searchTitle"

            [selectLimit]="selectLimit"
            [entityDataLength]="entityDataLength"

            (searchRun)="findEntity($event)"
            (selectRun)="changeLimit($event)">
            <!--[configAdd]="configAdd"-->
            <!--(activate)="modalAdd($event)"-->
    </entity-bar>
    <dt-table *ngIf="entityData.length>0"
              [page]="page"
              [limit]="limit"
              [headers]="headers"
              [actions]="actions"
              [tableData]="entityData"
              (activate)="activate($event)">
    </dt-table>
    <ngb-pagination *ngIf="entityDataLength"
                    [collectionSize]="entityDataLength"
                    [(page)]="page"
                    [maxSize]="paginationSize"
                    [pageSize]="limit"
                    [rotate]="true"
                    [ellipses]="true"
                    [boundaryLinks]="true"
                    (pageChange)="pageChange($event)"
                    [hidden]="search.length || limit>=entityDataLength">
    </ngb-pagination>
</div>