<div class="entity-container">
    <div class="student-profile-title">ПРОФІЛЬ НОВОГО СТУДЕНТА</div>
    <div class="student-datas row">
        <div class="student-foto col-xs-12 col-sm-3 col-md-3">
            <!--*<img class="img-responsive img-circle" src="img/profile.png" alt="">-->
            <input class="inputStudentData" type="file">
        </div>
        <div class="student-data1 col-xs-12 col-sm-4 col-md-4">
            <div><label for="surname">Прізвище:</label><input id="surname" class="inputStudentData "></div>
            <div><label for="name">Ім'я:</label><input id="name" class="inputStudentData"></div>
            <div><label for="fname">По батькові:</label><input id="fname" class="inputStudentData "></div>
            <div><label class="" for="group">Група:</label><input id="group" class="inputStudentData"></div>
        </div>
        <div class="student-data2 col-xs-12 col-sm-5 col-md-5">
            <div><label for="login">Логін:</label><input id="login" class="inputStudentData"></div>
            <div><label for="password">Пароль:</label><input id="password" class="inputStudentData"></div>
            <div><label for="gradebook_id">№ залікової книжки:</label><input id="gradebook_id" class="inputStudentData"></div>
            <div><label for="email">Електронна адреса:</label><input id="email" class="inputStudentData"></div>
        </div>
        <div class="buttonCreateRefresh">
            <input class="button-save-student-profile" type="button" value="Зберегти дані">
            <input class="button-refresh-datas" type="button" value="Очистити дані">
        </div>
    </div>

</div>