.modal-body-add-edit {
    background-color: #f9f9f9;
}

.input-group-add-edit {
    margin: 10px auto;
}

.modal-span {
    min-width: 161px;
}

.open-modal-btn {
    display: inline-block;
}

.modal-body-info-confirm{
    text-align: center;
    font-size: 120%;
}