@import "../../../../assets/style/constant";



form.navbar-left {
  select {
    width: 200px;
    &:first-child {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 948px) {
  form.navbar-left {
    select {
      width: 48%;
      &:first-child {
        margin-right: 3%;
      }
    }
  }
}


@media screen and (max-width: 767px) {
  .entity-bar {
    .form-select {
      margin: 0;
      padding: 0 0 5px 0;
      select {
        width: 99%;
        margin: 5px;
      }
    }
    .navbar-text, form.navbar-left {
      display: inline-block;
    }
    .form-control {
      width: auto;
      display: inline-block;
    }
    form.navbar-right {
      display: inline-block;
      float: right;
    }
    form.navbar-form {
      border: none;
    }
    .btn {
      margin-bottom: 2px;
      margin-right: 10px;
    }
    .search{
      max-width: 185px;
    }
  }
}