<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-text">{{entityTitle}}</div>
        <form class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="пошук" name="inputSearch"
                       #inputSearch
                       [title]="searchTitle"
                       (input)="find(inputSearch.value)">
            </div>
        </form>
        <form *ngIf="facultyList" class="navbar-form navbar-left">
            <div class="form-group">
                <select class="form-control" name="facultiesList" width="30px">
                    <option value="none">Виберіть факультет</option>
                    <option *ngFor="let item of facultyList" value="item">{{item}}</option>
                </select>
                <select class="form-control" name="specialitiesList">
                    <option value="none">Виберіть спеціальність</option>
                    <option *ngFor="let item of specialityList" value="item">{{item}}</option>
                </select>
            </div>
        </form>
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <a class="btn btn-default" (click)="modal(config)" [title]="addTitle">Додати </a>
                <select class="form-control" name="count"
                        #select
                        [title]="selectLimit"
                        (input)="changeLimit(select.value)"
                        [disabled]="inputSearch.value.length>0">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option [value]="entityDataLength">Всі</option>
                </select>
            </div>
        </form>
    </div>
</nav>