<div class="text-right"> Тестування з початком:
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" (click)="setDate('today')">сьогодні</button>
        <button type="button" class="btn btn-default" (click)="setDate('tomorrow')">завтра</button>
        <button type="button" class="btn btn-default" (click)="setDate('week')">протягом тижня</button>
        <button type="button" class="btn btn-default" (click)="setDate('month')">протягом місяця</button>
    </div>
</div>
<br>
<dt-table *ngIf="entityData.length"
          [headers]="headers"
          [actions]="actions"
          [tableData]="entityData">
</dt-table>