<div class="text-right"> Тестування з початком:
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" (click)="setDate('today')">сьогодні</button>
        <button type="button" class="btn btn-default" (click)="setDate('tomorrow')">завтра</button>
        <button type="button" class="btn btn-default" (click)="setDate('week')">протягом тижня</button>
        <button type="button" class="btn btn-default" (click)="setDate('month')">протягом місяця</button>
    </div>
</div>
<br>

<h3 *ngIf="!entityData.length && dateUser ==='today'">Немає доступних тестувань на сьогодні</h3>
<h3 *ngIf="!entityData.length && dateUser ==='tomorrow'">Немає доступних тестувань на завтра</h3>
<h3 *ngIf="!entityData.length && dateUser ==='week'">Немає доступних тестувань в найближчий тиждень</h3>
<h3 *ngIf="!entityData.length && dateUser ==='month'">Немає доступних тестувань найближчого місяця</h3>

<dt-table *ngIf="entityData.length"
          [headers]="headers"
          [actions]="actions"
          [tableData]="entityData">
</dt-table>