<h3>Cписок доступних тестувань для групи "{{userGroup.group_name}}"</h3>
<ul>
    <li class = "available">Предмет: <b>Асемблер</b> Назва тесту: <b>Основи</b><br>
        Дата проведення: 2016-10-24
        <button class="btn btn-default" role="button">
                                <span aria-hidden="true" class="glyphicon glyphicon glyphicon-play">
                                    Тестуватися
                                </span>
        </button>
    </li>
    <li class = "available">Предмет: <b>Асемблер</b> Назва тесту: <b>Елементарний рівень</b><br>
        Дата проведення: 2016-10-24
        <button class="btn btn-default" role="button">
                                <span aria-hidden="true" class="glyphicon glyphicon glyphicon-play">
                                    Тестуватися
                                </span>
        </button>
    </li>
</ul>