<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 info">

			<ngb-tabset>
			  <ngb-tab title="Доступні">
				<template ngbTabContent>
					<h3 class="bg-success">Cписок доступних тестувань</h3>
						<ul>
							<li > <a href="test-player.html">Предмет: <b>Асемблер</b> Назва тесту: <b>Основи</b><br>
								Дата проведення: 2016-10-07</a></li>
						</ul>
				</template>
			  </ngb-tab>
			  <ngb-tab>
				<template ngbTabTitle><b>Заплановані</b></template>
				<template ngbTabContent>
			 <h3 class="bg-warning">Cписок тестувань які плануються</h3>
				<ul>
					<li> <b>Предмет: Вища математика</b> Дата проведення: 2016-10-10</li>
					<li> <b>Предмет: Нища математика</b> Дата проведення: 2016-10-10</li>
				</ul>
				</template>
			  </ngb-tab>
			  <ngb-tab title="Пройдені">
				<template ngbTabContent>
				  <h3 class="bg-warning">Результати тестувань</h3>
					<ul class="list-group">
						<li class="list-group-item row bg-warning hidden-xs">

							<div class=" col-md-3 text-center"><b>Назва тесту</b></div>
							<div class=" col-md-2 text-center"><b>Дата проведення</b></div>
							<div class=" col-md-3 text-center"><b>Результат</b></div>
							<div class=" col-md-2 text-center"><b>Час початку</b></div>
							<div class=" col-md-2 text-center"><b>Час закінчення</b></div>
						</li>
						<li class="list-group-item row">

							<div class=" col-md-3 text-center">Basic level</div>
							<div class=" col-md-2 text-center">2016-09-22</div>
							<div class=" col-md-3 text-center"><b>8 із 22 балів</b></div>
							<div class=" col-md-2 text-center">20:34:54</div>
							<div class=" col-md-2 text-center">20:35:34</div>
						</li>
						<li class="list-group-item row">

							<div class=" col-md-3 text-center">Basic level</div>
							<div class=" col-md-2 text-center">2016-09-22</div>
							<div class=" col-md-3 text-center"><b>8 із 22 балів</b></div>
							<div class=" col-md-2 text-center">20:34:54</div>
							<div class=" col-md-2 text-center">20:35:34</div>
						</li>
						<li class="list-group-item row">

							<div class=" col-md-3 text-center">Basic level</div>
							<div class=" col-md-2 text-center">2016-09-22</div>
							<div class=" col-md-3 text-center"><b>8 із 22 балів</b></div>
							<div class=" col-md-2 text-center">20:34:54</div>
							<div class=" col-md-2 text-center">20:35:34</div>
						</li>


					</ul>
				</template>
			  </ngb-tab>
			</ngb-tabset>
		</div>

			<div class="col-xs-12 col-md-4 info text-center">
				<h3>Профайл студента</h3>
				<img src="../../assets/img/profile.png" class="img-responsive img-circle center-block" alt="">
				<h4>	{{user.student_surname+" "+user.student_name}} </h4>
                <p class="text-left"><b>Факультет:</b> Інформаційних технологій</p>
				<p class="text-left"><b>Група (id):</b>  {{user.group_id}}
				
				</p>
				<p class="text-left"><b>№ залікової книжки:</b> {{user.gradebook_id}}</p>
				
				<button class="btn btn-default btn-lg" role="button" (click)="logout()"> Вихід </button>
				
				<br><br>
			</div>
		</div>
	</div>